{% extends 'auctions/layout.html' %} 
{% block title %}Watchlist - ShopNest{% endblock %} 
{% block body %}

<h2 class="category-heading">Your Watchlist</h2>

{% if watchlist_items %}
    <div class="watchlist-container">
        {% for item in watchlist_items %}
        <div class="watch-item">
            
            <div class="watch-img-container">
                <img src="{{ item.listing.img }}" alt="{{ item.listing.title }}" class="watch-img">
            </div>
            <div class="watch-des">
                 <span class="watch-title">{{ item.listing.title }}</span>
                <span class="watch-cat">{{ item.listing.category }}</span>
                <span class="watch-bid"><span class="watch-bid-head">Starting Bid: </span>{{ item.listing.starting_bid }}</span>
                <span class="watch-bid"><span class="watch-bid-head">Current Bid: </span>{{ item.listing.current_highest_bid }}</span>
                <button class="Bid-btn">Bid</button> 
                
            </div>
            
        
        </div>
        {% endfor %}
    </div>
        
    
{% else %}
    <p>Your watchlist is empty.</p>
{% endif %}

{% endblock %}
